flask
flask-cors
gunicorn
pydub
numpy
pandas
librosa
soundfile
scikit-learn
matplotlib
scipy
python-dotenv
seaborn
noisereduce
python-multipart
# torch and torchaudio removed for Lite mode (avoids Render timeout)
